<a href="https://colab.research.google.com/github/FitriFatimah6/TUBES-PROJECT-UAS/blob/main/Kel1_Analisis_Pandas_Fish_Datasets(rs).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [1]:
import pandas as pd

# Load data
df = pd.read_csv("/content/joined_fish_data.csv")

# Format tanggal
df["catch_date"] = pd.to_datetime(df["catch_date"], errors='coerce')
df["capture_month"] = df["catch_date"].dt.to_period("M").astype(str)

# 1. Statistik Deskriptif Freshness dan Kondisi Perairan

In [2]:
# 1. Statistik Deskriptif Freshness dan Kondisi Perairan
descriptive_stats = df[[
    "freshness_score", "temperature_celsius",
    "salinity_ppt"
]].describe()
print("1. Deskriptif Freshness & Kondisi Perairan:\n", descriptive_stats, "\n")

1. Deskriptif Freshness & Kondisi Perairan:
        freshness_score  temperature_celsius  salinity_ppt
count     10006.000000         10006.000000  10006.000000
mean          5.527983            27.395373     32.663192
std           3.000477             2.162634      1.365125
min           1.000000            24.000000     30.400000
25%           3.000000            25.300000     31.000000
50%           6.000000            27.200000     33.400000
75%           8.000000            29.300000     33.800000
max         100.000000            31.700000     34.400000

# 2. Korelasi Angka Freshness dengan Faktor Numerik

In [3]:
# 2. Korelasi Angka Freshness dengan Faktor Numerik
correlation_table = df[[
    "freshness_score", "temperature_celsius",
    "salinity_ppt", "weight_kg", "length_cm"
]].corr().round(2)
print("2. Korelasi antar Variabel:\n", correlation_table, "\n")

2. Korelasi antar Variabel:
                      freshness_score  temperature_celsius  salinity_ppt  \
freshness_score                 1.00                -0.01          0.01
temperature_celsius            -0.01                 1.00         -0.33
salinity_ppt                    0.01                -0.33          1.00
weight_kg                      -0.01                 0.00         -0.00
length_cm                      -0.00                 0.01          0.01

                     weight_kg  length_cm
freshness_score          -0.01      -0.00
temperature_celsius       0.00       0.01
salinity_ppt             -0.00       0.01
weight_kg                 1.00      -0.01
length_cm                -0.01       1.00

# 3. Rata-rata Freshness per Fishing Method

In [4]:
# 3. Rata-rata Freshness per Fishing Method
method_freshness_table = df.groupby("fishing_method")["freshness_score"].agg(
    count="count", avg_score="mean", std_dev="std"
).round(2).sort_values(by="avg_score", ascending=False)
print("3. Rata-rata Freshness per Fishing Method:\n", method_freshness_table, "\n")

3. Rata-rata Freshness per Fishing Method:
                 count  avg_score  std_dev
fishing_method
Gill Net         1665       5.67     3.64
Trawling         1691       5.56     2.88
Long Line        1552       5.52     2.85
Trap             1654       5.50     2.81
Purse Seine      1758       5.47     2.84
Hand Line        1686       5.46     2.90

# 4. Rata-rata Freshness per Fish Name

In [5]:
# 4. Rata-rata Freshness per Fish Name
fish_freshness_table = df.groupby("fish_name")["freshness_score"].agg(
    count="count", avg_score="mean", std_dev="std"
).round(2).sort_values(by="avg_score", ascending=False)
print("4. Rata-rata Freshness per Fish Name:\n", fish_freshness_table, "\n")

4. Rata-rata Freshness per Fish Name:
             count  avg_score  std_dev
fish_name
Swordfish     411       5.84     2.86
Snapper       420       5.75     2.91
Salmon        447       5.71     5.31
Cod           427       5.70     2.83
Sea Bass      412       5.68     2.87
Tuna          401       5.66     2.86
Sole          396       5.63     2.78
Flounder      435       5.62     2.94
Grouper       424       5.59     2.87
Anchovy       405       5.55     2.83
Yellowtail    419       5.53     2.73
Sardine       436       5.53     2.89
Catfish       410       5.52     2.94
Amberjack     403       5.50     2.89
King Fish     421       5.49     2.77
Herring       423       5.47     2.77
Barramundi    432       5.46     2.77
Mackerel      381       5.41     2.79
Mahi-mahi     410       5.38     2.84
Halibut       423       5.37     2.82
Tilapia       409       5.35     2.82
Pomfret       419       5.35     2.87
Trout         445       5.34     2.83
Carp          397       5.22     2.98

# 5. Rata-rata Freshness per Kategori Ikan

In [6]:
# 5. Rata-rata Freshness per Kategori Ikan
category_freshness_table = df.groupby("category_name")["freshness_score"].agg(
    count="count", avg_score="mean", std_dev="std"
).round(2).sort_values(by="avg_score", ascending=False)
print("5. Rata-rata Freshness per Kategori:\n", category_freshness_table, "\n")

5. Rata-rata Freshness per Kategori:
                  count  avg_score  std_dev
category_name
Pelagic Fish      2037       5.59     3.53
Reef Fish         1981       5.57     2.80
Freshwater Fish   1965       5.53     2.88
Demersal Fish     2014       5.52     2.88
Anadromous Fish   2009       5.44     2.84

# 6. Rata-rata Freshness per Lokasi

In [7]:
# 6. Rata-rata Freshness per Lokasi
location_freshness_table = df.groupby("location_name")["freshness_score"].agg(
    count="count", avg_score="mean", std_dev="std"
).round(2).sort_values(by="avg_score", ascending=False)
print("6. Rata-rata Freshness per Lokasi:\n", location_freshness_table, "\n")

6. Rata-rata Freshness per Lokasi:
                       count  avg_score  std_dev
location_name
Laut Flores Zone D      553       5.78     4.89
Laut Banda Zone I       508       5.71     2.88
Laut Jawa Zone H        507       5.71     2.91
Laut Bali Zone F        459       5.70     2.87
Teluk Jakarta Zone G    533       5.66     2.84
Laut Arafura Zone F     470       5.62     2.80
Laut Banda Zone C       499       5.59     2.87
Laut Jawa Zone D        503       5.59     2.86
Laut Bali Zone I        489       5.59     2.87
Laut Bali Zone G        482       5.58     2.83
Laut Banda Zone A       538       5.49     2.82
Laut Natuna Zone C      480       5.48     2.78
Laut Bali Zone E        484       5.47     2.78
Laut Timor Zone B       490       5.47     2.86
Laut Sulawesi Zone E    500       5.42     2.84
Laut Flores Zone B      523       5.40     2.82
Laut Flores Zone A      499       5.34     2.86
Laut Natuna Zone J      481       5.33     2.97
Teluk Jakarta Zone H    472       5.31     2.81
Laut Flores Zone J      536       5.30     2.88

# 7. Rata-rata Freshness per Bulan Penangkapan

In [8]:
# 7. Rata-rata Freshness per Bulan Penangkapan
monthly_freshness_table = df.groupby("capture_month")["freshness_score"].agg(
    count="count", avg_score="mean", std_dev="std"
).round(2).sort_index()
print("7. Tren Bulanan Freshness:\n", monthly_freshness_table, "\n")

7. Tren Bulanan Freshness:
                count  avg_score  std_dev
capture_month
2023-01          840       5.45     2.88
2023-02          780       5.71     4.35
2023-03          794       5.48     2.90
2023-04          855       5.76     2.81
2023-05          829       5.59     2.86
2023-06          806       5.52     2.94
2023-07          833       5.58     2.83
2023-08          800       5.39     2.86
2023-09          841       5.54     2.86
2023-10          835       5.48     2.89
2023-11          871       5.43     2.79
2023-12          891       5.42     2.80
2024-01           31       5.68     2.68

# 8. Ringkasan Karakteristik Ikan Segar (> Threshold)

In [9]:
# 8. Ringkasan Karakteristik Ikan Segar (> Threshold)
# Misal threshold fresh > 7
threshold = 7
fresh_fish_summary = df[df["freshness_score"] > threshold][[
    "fish_name", "weight_kg", "length_cm", "temperature_celsius", "salinity_ppt"
]].groupby("fish_name").mean().round(2).sort_values(by="weight_kg", ascending=False)
print("8. Ringkasan Ikan Segar (> 7):\n", fresh_fish_summary, "\n")

8. Ringkasan Ikan Segar (> 7):
             weight_kg  length_cm  temperature_celsius  salinity_ppt
fish_name
Tuna            28.34     113.10                27.02         32.93
Amberjack       27.63     115.07                27.48         32.92
Tilapia         26.75     113.77                27.32         32.65
Sea Bass        26.36     103.80                27.12         32.85
Salmon          26.31     104.77                27.23         32.77
King Fish       26.28     104.76                27.52         32.74
Halibut         26.04     101.45                27.29         32.88
Mackerel        25.86     110.50                26.82         32.86
Snapper         25.81     111.41                27.55         32.53
Barramundi      25.77      99.71                27.56         32.73
Cod             25.51     110.29                27.34         32.71
Mahi-mahi       25.12     113.30                27.06         32.84
Trout           25.10     108.28                27.30         32.59
Pomfret         25.09     103.14                27.15         32.78
Grouper         24.98     116.81                27.57         32.63
Swordfish       24.76     100.87                27.52         32.64
Carp            24.66     110.25                27.35         32.56
Sardine         24.61     103.26                27.41         32.64
Sole            24.58     112.68                27.48         32.56
Herring         24.51     107.62                27.44         32.79
Anchovy         24.39     110.01                27.43         32.56
Flounder        23.93     109.00                27.44         32.76
Yellowtail      23.87     114.41                27.40         32.54
Catfish         23.51     113.79                27.46         32.66